html {
    line-height: 1.15;
  }
  
  body {
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1em;
    width: 750px;
  }
  
  main a {
    color: #af8356;
    text-decoration: none;
  }
  
  main a:hover {
    color: #a05024ff;
  }
  
  header {
    padding: 1rem;
    background-color: #3b8a8a;
  }
  
  main {
    display: block;
    padding: 1rem;
    background-color: whitesmoke;
  }
  
  ul {
    width: 500px;
    color: #8b7362;
    font-family: "Roboto", sans-serif;
  }
  
  h1 {
    font-size: 2.2em;
    margin: 0.67em 0;
    color: whitesmoke;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.5em;
    text-align: center;
    color: #7c6d62;
    font-family: "Oswald", sans-serif;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-right: 170px;
  }
  
  #emer {
    width: 150px;
    height: 170px;
    position: absolute;
    top: 3px;
    right: 64.4%;

  }
  footer {
    font-size: 1em;
    background-color: #368282;
    color: whitesmoke;
    text-align: center;
    padding: 1em;
  }
  footer a {
    color: whitesmoke;
  }